.nav-logo{
    display: flex;
    align-items: center;
}

.add-dash-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.background {
  background-image: url('../public/backg-index.jpg');
  height: 100vh;
}

.index-container{
  height: 100vh
}

.index-content{
  margin-top: -7rem;
}

.index-content h1{
  font-size: 3rem;
}

.jacques {
  font-family: 'Jacques Francois', serif;
}

*{
  /*  */
  font-family: 'Inter', sans-serif;
}

.logo{
  width: 120px
}

.item-card{
  min-height: 500px 
}

.alineacion-contenido{
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}