.nav-logo{
    display: flex;
    align-items: center;
}

.texto-primario{
  color: #222!important;
}

.buscador{
  background: rgba(34, 34, 34, 0.596) !important;
  border: 1px solid rgba(202, 51, 51, 0.52) !important;
  border-radius: 1rem !important;
  color: #f8f9fa !important;
}

.navbar-container{
  background: rgba(255, 255, 255, 0.25);
  padding: 0 !important;
}

.add-dash-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.background {
  background-image: url('../public/backg-index.jpg');
  height: 100vh;
}

.index-container{
  height: 100vh
}

.index-content{
  margin-top: -7rem;
}

.index-content h1{
  font-size: 3rem;
}

.jacques {
  font-family: 'Jacques Francois', serif;
}

*{
  /*  */
  font-family: 'Inter', sans-serif;
}

.logo{
  width: 130px
}

.item-card{
  min-height: 500px 
}

.alineacion-contenido{
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

a {
  text-decoration: none !important;
  color: #222222 !important;
}